(common_routing) {
    handle_path /api/* {
        reverse_proxy backend:8080
    }
    handle {
        reverse_proxy frontend:3000
    }
}

street-racing-arena.muraragi.com {
    import common_routing
}

spacetime.muraragi.com {
    handle_path /v1/database/*/subscribe {
        reverse_proxy localhost:5413
    }

    handle_path /v1/identity {
        reverse_proxy localhost:5413
    }
}

localhost {
    import common_routing

    # Caddy automatically handles HTTPS for localhost using a self-signed cert
    # Your browser will likely show a warning the first time you visit https://localhost
    # You may need to tell your browser to trust it for local development.
    # Alternatively, access via http://localhost
}
