(common_routing) {
    handle /api/* {
        reverse_proxy backend:8080
    }
    handle {
        reverse_proxy frontend:3000
    }
}

street-racing-arena.muraragi.com {
    import common_routing
}

localhost {
    import common_routing

    # Caddy automatically handles HTTPS for localhost using a self-signed cert
    # Your browser will likely show a warning the first time you visit https://localhost
    # You may need to tell your browser to trust it for local development.
    # Alternatively, access via http://localhost
}
